li{
    list-style-type: square;
      margin: 10px;
      color:black;
      border: rgb(218, 213, 213) 1px solid;
      border-bottom-width: 2px;
      padding: 10px;
list-style: none;
font-size: 20px;
width: 100%;
margin: 0auto;
max-width: 650px;

}
h1 {border-bottom: solid 2px green;
  display: inline-block;
  font-size: 20px;
}